.s {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}


.constainer {
  padding: 10px;
  height: 100vh;
}


.contentStyle  {
  height: '250px';
  width: '600px';
  color: '#fff';
  line-height: '160px';
  text-align: 'center';
  background: '#364d79';
};

.wrapper {
  display: flex;
}

.a {
  color: red;
}


.skill {
  width: 400px;
  border-bottom: 2px solid rgb(133, 133, 161);
  border-radius: 3px;
  font-size: 40px;
}

.userPage {
  max-width: 1920px;
  height: 100vh; 
  padding: 20px;
  background-color: rgb(233, 233, 240);
}




